<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" package="bodycountCalculator.x2.x0" android:installLocation="preferExternal" android:versionName="2.0">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="Body_count_calculator.Android" android:theme="@style/MainTheme" android:icon="@mipmap/calculator"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>